@page "{id}"
@model DetailsPageModel

@{
    var machine = Model.VirtualMachine;
    ViewData["Title"] = "VM details " + machine.Name;
}

<h1 class="display-4">
    Details about @machine.Name in resource group @machine.ResourceGroup
</h1>

<div class="card mb-2" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@machine.Name</li>
        <li class="list-group-item">@machine.Size</li>
        <li class="list-group-item">@machine.Powerstate</li>
        <li class="list-group-item">@machine.Os</li>
    </ul>
    <div class="card-footer">
        Basic information about selected virtual machine
    </div>
</div>
<h2>
    Possible sizes to change
</h2>
<form method="post">
    <div class="form-group">
        <label for="sizeCombo">Select a size to be migrated to</label>
        <select class="form-control" id="sizeCombo" name="size">
            @foreach (var listItem in Model.PossibleSizes)
            {
                <option value="@listItem.Value">@listItem.Text</option>
            }
        </select>
    </div>
    <button type="submit" 
            class="btn btn-danger">Change the size <i class="fas fa-radiation-alt"></i></button>
</form>

<p class="text-danger font-weight-bolder mt-4">@Model.InfoText</p>